@import url("./Fonts.css");

body 
{
    margin: 0;
    padding: 0;
    font-family: "Futurica";
    p 
    {
        margin: 0;
    }
}
html {
    scroll-behavior: smooth;
}
// Home Page// Home Page// Home Page
.HomePage 
{
    height: 10000px;
    .topContainer //Top Conatiner (Navbar included)
    {
        background: url("../images/overlayForNavbar.png") repeat;
        background-size: 100% auto;
        background-color: #225A93;
        padding-top: 38px;
        height: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .navbar  //Navbar
        {
            background-size: cover;
            width: 85%;
            height: 45px;
            .logoAndText
            {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                float: left;
                background-color: none;
            }
            img
            {
                width: 193px;
                height: 36px;
            }
            .phoneNumber 
            {
                font-size: 18px;
                word-spacing: 6px;
                color: white;
            }
            p
            {
                margin-left: 100px;
                color: white;
                font-family: "LemonMilkRegular";
            }
            .menuIcon 
            {
                width: 100px;
                height: 45px;
                float: right;
                margin-top: -5px;
                border: none;
                background-color: rgba(0,0,0,0);
                &:focus 
                {
                    outline: none;
                }
                &:focus .topIcon 
                {
                    transform: rotate(45deg) translateY(5.5px) translateX(5px);
                    width: 45px;
                    background-color: black;
                    transition: 1s;

                }
                &:focus .downIcon {
                    transform: rotate(-45deg) translateY(-14.5px) translateX(12px);
                    width: 45px;
                    background-color: black;
                    transition: 1s;

                }
                .topIcon 
                {
                    width: 70px;
                    height: 6px;
                    background-color: white;
                    transition: 1s;

                }
                .downIcon 
                {
                    width: 45px;
                    height: 6px;
                    margin-top: 20px;
                    background-color: white;
                    transition: 1s;

                }
            }
        }   //Navbar

        .subNav //Subnav
        {
            width: 85%;
            display: flex;
            flex-direction: column;
            margin-top: 198px;
            .title
            {
                font-size: 5.5rem;
                font-family: "GilroySemibold";
                color: white;
                word-spacing: 30px;
            }
            .subTitle 
            {
                margin-top: 29px;
                padding-left: 6.5px;
                font-size: 1.5rem;
                line-height: 43px;
                color: white;
                width: 70%;
                font-family: "GilroySemibold";
                line-height: 25px;
            }
        } //Subnav

        hr 
        {
            position: absolute;
            width: 100%;
            height: 2px;
            border: none;
            top: 530px;
            background-image: url("../images/overlayForNavbar.png") repeat;
        }

        .subTitle2
        {
            margin-top: 100px;
            width: 100%;
            height: 239px;
            display: flex;
            justify-content: center;     
            align-items: center;       
            background: url("../images/overlayForNavbar.png") repeat;
            p 
            {
                width: 79% ;
                margin: 0;
                font-size: 1.5rem;
                color: white;
                font-family: "GilroySemiBold";
                line-height: 25px;

            }
            a 
            {
                width: 5%;
            }
            button 
            {
                border: none;
                background-color: rgba(0,0,0,0);
                &:focus 
                {
                    outline: none;
                }
            }
        }

        


    } //Top Conatiner (Navbar included)
    
    .whatDo  //What Do i do
    {
        display: flex;
        flex-direction: column;
        align-items: center ;
        width: 100%;
        height: 798px;
        background-color: #E5E5E5;
        .titleContainer
        {
            display: flex;
            align-items: center;
            padding-top: 133px;
            width: 84.5%;
            p 
            {
                font-size: 3rem;
                font-family: "LemonMilkRegular";
                color: #0E0E0E ;
                opacity: 0.7;
                width: 45%;
            }
            hr 
            {
                margin-left: 40px;
                width: 55%;
                height: 1px;
                background-color: #464646;
                border: none;
                opacity: 0.5;
            }

        }

        .cardConatiner
        {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 0%;
            margin-top: 50px;
            width: 84%;


            .card 
            {
                width: 80%;
                height: 368px;
                padding-left: 40px;
                padding-top: 50px;
                box-shadow: 9px 9px 10px rgba(0,0,0,0.1);
                background-color: white;
                p 
                {
                    margin: 0;
                }
                .title 
                {
                    font-family: "LemonMilkMedium";
                    font-size: 1.2rem;
                    font-style: normal;
                    opacity: 0.7;
                }
                hr 
                {
                    width: 147px;
                    height: 1px;
                    background:  #1D84C4;
                    border: none;
                    margin: 0;
                    margin: 5px 0 20px 0;
                    opacity: 0.3;
                }
                .subTitle
                {
                    p 
                    {
                        margin: 0;
                        margin-top: 30px;
                        font-size: 15px;
                        &:nth-child(1)
                        {
                            margin-top: 0;
                        }
                        span 
                        {
                            font-family: "GilroyMedium";
                            color: #000000;
                            opacity: 0.7;
                        }
                    }
                }

                .cardButton
                {
                    background-color: #fff;
                    float: right;
                    margin-right: 7%;
                    margin-top: 15px;
                    width: 100px;
                    height: 30px;
                    background-color: #1D84C4;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    transition: 1s ;
                    font-family: "GilroyRegular";
                    
                    &:hover 
                    {
                        border:1px solid #1D84c4;
                        background-color: white;
                        color: #1D84C4;
                        transition: 1s;
                    }
                    &:focus {
                        outline: none;
                        background-color: #1D84C4;
                        color: white;
                        border: none;
                    }
                }//Card Button


            }  //Card
        } // Card Conatiner

    } // What To do
        
    .projectsDone  //Gorduyumuz Ishler Conatiner
    {
        display: flex;
        flex-direction: column;
        align-items: center ;
        width: 100%;
        height: auto;
        margin-bottom: 100px;
        .titleContainer2 //Title Container Projects
        {
            display: flex;
            align-items: center;
            padding-top: 133px;
            width: 85%;
            p 
            {
                font-size: 3rem;
                font-family: "LemonMilkRegular";
                color: #0E0E0E ;
                opacity: 0.7;
            }
            hr 
            {
                margin-left: 40px;
                width: 50%;
                height: 1px;
                background-color: #464646;
                border: none;
                opacity: 0.5;
            }
        } //Title Container Projects


        .buttonContainer //Buttons
        {
            width: 85%;
            text-align: center;
            margin-top: 30px;

            button 
            {
                float: left;
                margin-left: 20px;
                height: 38px;
                width: auto;
                padding: 5px 20px; 
                border-radius: 25px;
                border: none;
                background: #1D84C4;
                color: white;
                font-family: "GilroyRegular";
                border:1px solid  white;
                transition: 1s;
                &:nth-child(1) //Button 1
                {
                    margin: 0;
                    background: #225A93;
                    &:hover
                    {
                        border: 1px solid  #225A93;
                        color: #225A93;
                        background:#EEEE;
                    }
                    &:focus 
                    {
                    outline: none;
                    transition: 1s;
                    background-color: crimson;
                    color: white;
                    border: 1px solid white;
                    }
                }   //Button 1

                &:hover
                {
                    border:1px solid  #1D84C4;
                    background-color: #fff;
                    color:#1D84C4 ;
                    transition: 1s;
                }
                &:focus 
                {
                    outline: none;
                    transition: 1s;
                    background-color: crimson;
                    color: white;
                    border: 1px solid white;
                }
            }
        } //Buttons Conatiner

        .projects //Projects
        {   
            display: grid;
            grid-template-columns: repeat(2,1fr);
            margin-top: 50px;
            width:85%;
            .card 
            {
                width: 100%;
                height: 390px;
                &:nth-child(1)
                {
                    background: url('../images/FruitAgro.png')  bottom no-repeat;
                    background-size: cover;
                }
                &:nth-child(2)
                {
                    background: url('../images/Saxa.png')  bottom no-repeat;
                    background-size: cover;

                }
                &:nth-child(3)
                {
                    background: url('../images/Building.png')  bottom no-repeat;
                    background-size: cover;

                }
                &:nth-child(4)
                {
                    background: url('../images/Aqua.png') bottom  no-repeat;
                    background-size: cover;

                }
                &:nth-child(5)
                {
                    background: url('../images/Safye.png')  bottom no-repeat;
                    background-size: cover;

                }
                &:nth-child(6)
                {
                    background: url('../images/Gravity.png')  bottom no-repeat;
                    background-size: cover;

                }
            }

            
        } //Projects
        
        .hamisinaBax 
        {
            width: 85%;
            height: 40px;
            margin-top: 50px;

            button 
            {
                float: right;
                background-color: #fff;
                border: none;
                &:focus 
                {
                    outline: none;
                    transform: translateX(150px);
                    transition: 1s;
                    opacity: 0;
                }
            }
            p 
            {
                float: right;
                font-family: "LemonMilkRegular";
                font-size: 30px;
                margin-right: 40px;
            }
        }
    } //Gorduyumuz Ishler Conatiner


    //Technologies Container 
    .technologies
    {
        display: flex;
        flex-direction: column;
        align-items: center ;
        width: 100%;
        height: 632px;
        background-color: #EEEE;
        .titleContainer3 //Title Container Technologies
        {
            display: flex;
            align-items: center;
            padding-top: 133px;
            width: 85%;
            p 
            {
                font-size: 3rem;
                font-family: "LemonMilkRegular";
                color: #0E0E0E ;
                opacity: 0.7;
            }
            hr 
            {
                margin-left: 40px;
                height: 1px;
                background-color: #464646;
                border: none;
                opacity: 0.5;
                width: 100px;
            }
        } //Title Container Technologies

        .itemContainer 
        {
            display: flex;
            width: 85%;
            margin-top: 60px;
            .item 
            {
                width: 100%;
                height: 280px;
                display: flex;
                .titleItem
                {
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    text-align: center;
                    height: 240px;
                    font-family: "LemonMilkRegular";
                    color: #000000;
                    font-size: 20px;
                    hr 
                    {   
                        transform: rotate(180deg);
                        border: none;
                        height: 240px;
                        width: 1px;
                        background: #464646;
                        margin-right: 15px;
                    }
                    
                }
                .imgContainer
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 240px;
                    
                    .imgAndText
                    {
                        display: flex;
                        align-items: center;
                        width: 220px;
                        height: 30px;
                        margin-top: 25px;
                        margin-left: 15px;
                        &:nth-child(1)
                        {
                            margin-top: 0;
                        }
                        img 
                        {
                            
                        }
                        span 
                        {
                            width: 150px;
                            text-align: left;
                            font-size: 17px;
                            font-family: "GilroyMedium";
                            margin-left: 15px;
                            position: absolute;
                            margin-left: 45px;
                        }
                        
                    }
                    
                    
                }
                
            }
            
        }
    } //Technologies

    .humansContainer
    {
        display: flex;
        align-items: center ;
        justify-content: center;
        width: 100%;
        height: 600px;
        background-color: white;
        .text
        {
            width: 40%;
            font-size: 28px;
            margin-top: 100px;
            p 
            {
                margin-top: 25px;
                &:nth-child(1)
                {
                    margin: 0;
                }
            }
        }
        .imgs 
        {
            width: 40%;
            img 
            {
                position: absolute;
                margin-top: -200px;
                margin-left: 100px;
                &:nth-child(2)
                {
                    margin-left: 400px;
                }   
                &:nth-child(3)
                {
                    margin:-50px 250px ;
                } 
                &:nth-child(3)
                {
                    margin:-50px 250px ;
                } 
                &:nth-child(4)
                {
                    margin-top:100px;
                } 
                &:nth-child(5)
                {
                    margin:100px 400px;
                } 
            }
        }
    } // Humans Conatiner 

    .bizimleEmekdahsliq 
    {
        display: flex;
        align-items: center ;
        flex-direction: column;
        width: 100%;
        height: 600px;
        background: linear-gradient(84.1deg, #3D7AB8 11.55%, #225A93 91.67%);
        margin-top: 100px;
        .titleContainer4 //Title Container Bizimle emekdashliq
        {
            display: flex;
            align-items: center;
            margin-top: 100px;
            width: 80%;
            p 
            {
                font-size: 2rem;
                font-family: "LemonMilkRegular";
                color: white ;
                width: 80%;
            }
            hr 
            {
                margin-left: 40px;
                height: 1px;
                background-color: white;
                border: none;
                opacity: 0.5;
            }
        } //Title Container Bizimle emekdashliq

        .aboutContainer
        {
            display: flex;
            width: 80%;
            .about1 , .about2 , .about3 
            {
                p 
                {
                    font-size: 1.55rem;
                    color: white;
                    margin-top: 50px;
                }
                img 
                {
                    margin-right: 15px;
                }
            }
            .about2 , .about3 
            {
                margin-left: 50px;
            }
            .about2
            {
                margin-left: -15px;
            }
        }
    }

    .partniorsContainer
    {
        display: flex;
        flex-direction: column;
        align-items: center ;
        width: 100%;
        background-color: #fff;
        .titleContainer5
        {
            display: flex;
            align-items: center;
            margin-top: 100px;
            width: 80%;
            p 
            {
                font-size: 3rem;
                font-family: "LemonMilkRegular";
                color: black ;
                width: 90%;
                opacity: 0.7;
            }
            hr 
            {
                margin-left: 40px;
                height: 1px;
                background-color: black;
                border: none;
                opacity: 0.5;
                width: 190%;
            }
        } //Title Container Partniors

        .gridContainer2
        {
            width: 80%;
            height: 700px;
            margin-top: 50px;
            background-color: red;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            div 
            {
                
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center; 
                img 
                {
                    width:13rem;
                    height: auto;
                    filter: grayscale(100%);
                    &:hover 
                    {
                        filter: grayscale(0%);
                        transition: 1s;
                    }
                }
            }
        }
        
    }//Partniors Container


    .slider 
    {
        display: flex;
        align-items: center ;
        flex-direction: column;
        width: 100%;
        height: 700px;
        margin-top: 150px;
        background-color: #EEEE;
        .titleContainer6
        {
            display: flex;
            align-items: center;
            margin-top: 100px;
            width: 80%;
            p 
            {
                font-size: 3rem;
                font-family: "LemonMilkRegular";
                color: black ;
                width: 90%;
                opacity: 0.7;
            }
            hr 
            {
                height: 1px;
                background-color: black;
                border: none;
                opacity: 0.5;
                width: 95%;
            }
            
        } //TitleContainer Slider 
        .glideEditSlider
        {
            width: 80% !important;
            margin-top: 50px;
            display: flex !important;
            justify-content: center !important;

        }
        

        .button1 
        {
            margin-left: -10%;
            border: none !important;
            box-shadow: none !important;
        }
        .button2 
        {
            margin-right: -10%;
            border: none !important;
            box-shadow: none !important;
        }
    } //Slider
    
    
    .formAndIframe
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        iframe 
        {
            width: 45%;
            height: 500px;
        }
        .form
        {
            width: 55%;
            height: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .titleContainer7
            {
                display: flex;
                align-items: center;
                width: 100%;
                p 
                {
                    font-size: 2rem;
                    font-family: "LemonMilkRegular";
                    color: black ;
                    width: 60%;
                    opacity: 0.7;
                    margin: 0;
                    margin-top: 45px;
                    margin-left: 45px;   
                }
                hr 
                {
                    height: 1px;
                    background-color: black;
                    border: none;
                    opacity: 0.5;
                    width: 40%;
                    margin-top: 45px;
                    margin-right: 50px;
                }
                
            } //TitleContainer form 
            .titleContainer7_2
            {
                display: flex;
                align-items: center;
                width: 100%;
                p 
                {
                    font-size: 2rem;
                    font-family: "LemonMilkRegular";
                    color: black ;
                    width: 90%;
                    opacity: 0.7;
                    margin: 0;
                    margin-top: 10px;
                    margin-left: 45px;   
                }
            } //secondTitle

            .formContainer //FormContainer
            {
                width: 90%;
                form 
                {
                    margin-top: 40px;
                    .inputs
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        font-size: 1.5rem;
                        float: left;
                        input 
                        { //Input
                            width: 280px;
                            height: 50px;
                            margin-top: 20px;
                            padding-left: 30px;
                            border-radius: 30px;
                            border: 2px solid rgba(0, 0, 0, 0.5);
                            transition: 1s;
                            font-family: "LemonMilkRegular";
                            color: rgba(0, 0, 0, 0.7);
                            font-size: 1rem;
                            &::placeholder 
                            {
                                font-family: "LemonMilkRegular";
                                
                            }
                            &:focus 
                            {
                                outline:none;
                                border: 2px solid #1D84C4;
                                &::placeholder
                                {
                                    color: #1D84C4 ;
                                    transition: 1s;
                                }
                            }
                            &:hover 
                            {
                                border: 2px solid #1D84C4;
                                transition: 1s;
                            }
                        } //Inputs


                    }//Inputs

                    textarea 
                    {
                        height: 190px;
                        float: left;
                        margin-top: 0px;
                        resize: none;
                        margin-left: 3%;
                        width: 320px;
                        border: 2px solid rgba(0, 0, 0, 0.5);
                        border-radius: 15px;
                        padding: 30px 30px;
                        font-size: 1.2rem;
                        font-family: "GilroyBold";
                        color: rgba(0, 0, 0, 0.7);
                        font-family: "GilroyRegular";
                        &:focus 
                        {
                            outline:none;
                            border: 2px solid  #1D84C4;
                            transition: 1s;
                            
                            
                            &::placeholder
                            {
                                color: #1D84C4;
                            }
                        }
                        &:hover 
                        {
                            border: 2px solid  #1D84C4;
                            transition: 1s;
                        }
                        &::placeholder
                        {
                            font-family: "GilroyRegular";
                        }
                        
                    } //TextArea

                    
                } //Form
            } //FormContainer
            
            button 
            {
                float: left;
                clear: left;
                background: #1D84C4;
                border: 2px solid rgba(196, 196, 196, 0.5);
                box-sizing: border-box;
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
                border-radius: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45px;
                width: 200px;
                border-radius: 40px;
                color: white;
                font-family: "LemonMilkRegular";
                font-size: 16px;
                border: 2px solid  #1D84C4;
                transition: 1s;
                margin-top: 10px;
                margin-left: 450px;
                &:hover 
                {
                    border: 2px solid  #1D84C4;
                    background-color: transparent;
                    color: #1D84C4;
                    transition: 0.5s;
                }

                &:focus 
                {
                    outline: none;
                    background-color: #1D84C4;
                    color: white;
                }
            }
        }
        
    } //All Form Container 

    footer 
    {
        width: 100%;
        height: 400px;
        background-color: red;
    }
    
}// Home Page// Home Page// Home Page// Home Page// Home Page// Home Page// Home Page// Home Page// Home Page

@media screen and (max-width:1860px)
    {
        html 
        {
            font-size: 80%;
        }
        
    }
    @media screen and (max-width:1550px)
    {
        html 
        {
            font-size: 70%;
        }
        
        .inputs 
        {
            input 
            {
                width:230px !important;
            }
        }
        .gonderButton
        {
            margin-left: 390px !important;
        }
        .textArea
        {
            width: 280px;
        }
    }
    @media screen and (max-width:1390px)
    {
        html 
        {
            font-size: 60%;
        }
        .inputs 
        {
            input 
            {
                width:200px !important;
            }
        }
        .gonderButton
        {
            margin-left: 360px !important;
        }
        .textArea
        {
            width: 250px;
        }
    }
    @media screen and (max-width:1304px)
    {
        html 
        {
            font-size: 50%;
        }
        html 
        {
            font-size: 60%;
        }
        .inputs 
        {
            input 
            {
                width:180px !important;
            }
        }
        .gonderButton
        {
            margin-left: 340px !important;
        }
        .textArea
        {
            width: 230px;
        }
    }