@import url("./Fonts.css");

body 
{
    margin: 0;
    padding: 0;
    font-family: "Futurica";
    p 
    {
        margin: 0;
    }
}
// Home Page// Home Page// Home Page
.HomePage 
{
    height: 10000px;
    .topContainer
    {
        background: url("../images/overlayForNavbar.png");
        background-color: #225A93;
        padding-top: 38px;
        height: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .navbar 
        {
            background-size: cover;
            width: 1100px;
            height: 45px;
            .logoAndText
            {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                float: left;
                background-color: none;
            }
            img
            {
                width: 193px;
                height: 36px;
            }
            .phoneNumber 
            {
                font-size: 18px;
                word-spacing: 6px;
                color: white;
            }
            p
            {
                margin-left: 100px;
                color: white;
                font-family: "LemonMilkRegular";
            }
            .menuIcon 
            {
                width: 100px;
                height: 45px;
                float: right;
                margin-top: -5px;
                border: none;
                background-color: rgba(0,0,0,0);
                &:focus 
                {
                    outline: none;
                }
                &:focus .topIcon 
                {
                    transform: rotate(45deg) translateY(5.5px) translateX(5px);
                    width: 45px;
                    background-color: black;
                    transition: 1s;

                }
                &:focus .downIcon {
                    transform: rotate(-45deg) translateY(-14.5px) translateX(12px);
                    width: 45px;
                    background-color: black;
                    transition: 1s;

                }
                .topIcon 
                {
                    width: 70px;
                    height: 6px;
                    background-color: white;
                    transition: 1s;

                }
                .downIcon 
                {
                    width: 45px;
                    height: 6px;
                    margin-top: 20px;
                    background-color: white;
                    transition: 1s;

                }
            }
        }

        .subNav
        {
            width: 1100px;
            display: flex;
            flex-direction: column;
            margin-top: 198px;
            .title
            {
                font-size: 90px;
                font-family: "GilroySemibold";
                color: white;
                word-spacing: 30px;
            }
            .subTitle 
            {
                margin-top: 29px;
                padding-left: 6.5px;
                font-size: 23px;
                line-height: 43px;
                color: white;
                width: 1000px;
                font-family: "GilroySemibold";
            }
        }

        hr 
        {
            position: absolute;
            width: 100%;
            height: 2px;
            border: none;
            top: 530px;
            background-image: url("../images/overlayForNavbar.png") ;
        }

        .subTitle2
        {
            margin-top: 100px;
            width: 100%;
            height: 239px;
            display: flex;
            justify-content: center;     
            align-items: center;       
            background: url("../images/overlayForNavbar.png");
            p 
            {
                width: 1050px !important;
                margin: 0;
                font-size: 23px;
                color: white;
                width: 90%  ;
                font-family: "GilroySemiBold";
            }
            button 
            {
                border: none;
                background-color: rgba(0,0,0,0);
                &:focus 
                {
                    outline: none;
                }
            }
        }

        


    }
    
    .whatDo 
    {
        display: flex;
        flex-direction: column;
        align-items: center ;
        width: 100%;
        height: 798px;
        background-color: #E5E5E5;
        .titleContainer
        {
            display: flex;
            align-items: center;
            padding-top: 133px;
            width: 1100px;
            p 
            {
                font-size: 44px;
                font-family: "LemonMilkRegular";
                color: #0E0E0E ;
                opacity: 0.7;
            }
            hr 
            {
                margin-left: 40px;
                width: 550px;
                height: 1px;
                background-color: #464646;
                border: none;
                opacity: 0.5;
            }

        }

        .cardConatiner
        {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 7%;
            margin-top: 50px;
            width: 1100px;

            .card 
            {
                width: 100%;
                height: 368px;
                padding-left: 40px;
                padding-top: 50px;
                box-shadow: 9px 9px 10px rgba(0,0,0,0.1);
                background-color: white;
                p 
                {
                    margin: 0;
                }
                .title 
                {
                    font-family: "LemonMilkMedium";
                    font-size: 17px;
                    font-style: normal;
                    opacity: 0.7;
                }
                hr 
                {
                    width: 147px;
                    height: 1px;
                    background:  #1D84C4;
                    border: none;
                    margin: 0;
                    margin: 5px 0 20px 0;
                    opacity: 0.3;
                }
                .subTitle
                {
                    p 
                    {
                        margin: 0;
                        margin-top: 30px;
                        font-size: 15px;
                        &:nth-child(1)
                        {
                            margin-top: 0;
                        }
                        span 
                        {
                            font-family: "GilroyMedium";
                            color: #000000;
                            opacity: 0.7;
                        }
                    }
                }

                .cardButton
                {
                    background-color: #fff;
                    float: right;
                    margin-right: 7%;
                    margin-top: 15px;
                    width: 100px;
                    height: 30px;
                    background-color: #1D84C4;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    transition: 1s ;

                    
                    &:hover 
                    {
                        border:1px solid #1D84c4;
                        background-color: white;
                        color: #1D84C4;
                        transition: 1s;
                    }
                    &:focus {
                        outline: none;
                        background-color: #1D84C4;
                        color: white;
                        border: none;
                    }
                }//Card Button


            }  //Card
        } // Card Conatiner

    } // What To do
        
// Home Page// Home Page// Home Page// Home Page// Home Page// Home Page// Home Page// Home Page// Home Page


}