@import url("./Fonts.css");
body {
  margin: 0;
  padding: 0;
  font-family: "Futurica";
}

body p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.HomePage {
  height: 10000px;
}

.HomePage .topContainer {
  background: url("../images/overlayForNavbar.png") repeat;
  background-size: 100% auto;
  background-color: #225A93;
  padding-top: 38px;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HomePage .topContainer .navbar {
  background-size: cover;
  width: 85%;
  height: 45px;
}

.HomePage .topContainer .navbar .logoAndText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  float: left;
  background-color: none;
}

.HomePage .topContainer .navbar img {
  width: 193px;
  height: 36px;
}

.HomePage .topContainer .navbar .phoneNumber {
  font-size: 18px;
  word-spacing: 6px;
  color: white;
}

.HomePage .topContainer .navbar p {
  margin-left: 100px;
  color: white;
  font-family: "LemonMilkRegular";
}

.HomePage .topContainer .navbar .menuIcon {
  width: 100px;
  height: 45px;
  float: right;
  margin-top: -5px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.HomePage .topContainer .navbar .menuIcon:focus {
  outline: none;
}

.HomePage .topContainer .navbar .menuIcon:focus .topIcon {
  -webkit-transform: rotate(45deg) translateY(5.5px) translateX(5px);
          transform: rotate(45deg) translateY(5.5px) translateX(5px);
  width: 45px;
  background-color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

.HomePage .topContainer .navbar .menuIcon:focus .downIcon {
  -webkit-transform: rotate(-45deg) translateY(-14.5px) translateX(12px);
          transform: rotate(-45deg) translateY(-14.5px) translateX(12px);
  width: 45px;
  background-color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

.HomePage .topContainer .navbar .menuIcon .topIcon {
  width: 70px;
  height: 6px;
  background-color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.HomePage .topContainer .navbar .menuIcon .downIcon {
  width: 45px;
  height: 6px;
  margin-top: 20px;
  background-color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.HomePage .topContainer .subNav {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 198px;
}

.HomePage .topContainer .subNav .title {
  font-size: 5.5rem;
  font-family: "GilroySemibold";
  color: white;
  word-spacing: 30px;
}

.HomePage .topContainer .subNav .subTitle {
  margin-top: 29px;
  padding-left: 6.5px;
  font-size: 1.5rem;
  line-height: 43px;
  color: white;
  width: 70%;
  font-family: "GilroySemibold";
  line-height: 25px;
}

.HomePage .topContainer hr {
  position: absolute;
  width: 100%;
  height: 2px;
  border: none;
  top: 530px;
  background-image: url("../images/overlayForNavbar.png") repeat;
}

.HomePage .topContainer .subTitle2 {
  margin-top: 100px;
  width: 100%;
  height: 239px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/overlayForNavbar.png") repeat;
}

.HomePage .topContainer .subTitle2 p {
  width: 79%;
  margin: 0;
  font-size: 1.5rem;
  color: white;
  font-family: "GilroySemiBold";
  line-height: 25px;
}

.HomePage .topContainer .subTitle2 a {
  width: 5%;
}

.HomePage .topContainer .subTitle2 button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.HomePage .topContainer .subTitle2 button:focus {
  outline: none;
}

.HomePage .whatDo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 798px;
  background-color: #E5E5E5;
}

.HomePage .whatDo .titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 133px;
  width: 84.5%;
}

.HomePage .whatDo .titleContainer p {
  font-size: 3rem;
  font-family: "LemonMilkRegular";
  color: #0E0E0E;
  opacity: 0.7;
  width: 45%;
}

.HomePage .whatDo .titleContainer hr {
  margin-left: 40px;
  width: 55%;
  height: 1px;
  background-color: #464646;
  border: none;
  opacity: 0.5;
}

.HomePage .whatDo .cardConatiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0%;
  margin-top: 50px;
  width: 84%;
}

.HomePage .whatDo .cardConatiner .card {
  width: 80%;
  height: 368px;
  padding-left: 40px;
  padding-top: 50px;
  -webkit-box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.HomePage .whatDo .cardConatiner .card p {
  margin: 0;
}

.HomePage .whatDo .cardConatiner .card .title {
  font-family: "LemonMilkMedium";
  font-size: 1.2rem;
  font-style: normal;
  opacity: 0.7;
}

.HomePage .whatDo .cardConatiner .card hr {
  width: 147px;
  height: 1px;
  background: #1D84C4;
  border: none;
  margin: 0;
  margin: 5px 0 20px 0;
  opacity: 0.3;
}

.HomePage .whatDo .cardConatiner .card .subTitle p {
  margin: 0;
  margin-top: 30px;
  font-size: 15px;
}

.HomePage .whatDo .cardConatiner .card .subTitle p:nth-child(1) {
  margin-top: 0;
}

.HomePage .whatDo .cardConatiner .card .subTitle p span {
  font-family: "GilroyMedium";
  color: #000000;
  opacity: 0.7;
}

.HomePage .whatDo .cardConatiner .card .cardButton {
  background-color: #fff;
  float: right;
  margin-right: 7%;
  margin-top: 15px;
  width: 100px;
  height: 30px;
  background-color: #1D84C4;
  color: white;
  border: none;
  border-radius: 4px;
  -webkit-transition: 1s;
  transition: 1s;
  font-family: "GilroyRegular";
}

.HomePage .whatDo .cardConatiner .card .cardButton:hover {
  border: 1px solid #1D84c4;
  background-color: white;
  color: #1D84C4;
  -webkit-transition: 1s;
  transition: 1s;
}

.HomePage .whatDo .cardConatiner .card .cardButton:focus {
  outline: none;
  background-color: #1D84C4;
  color: white;
  border: none;
}

.HomePage .projectsDone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.HomePage .projectsDone .titleContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 133px;
  width: 85%;
}

.HomePage .projectsDone .titleContainer2 p {
  font-size: 3rem;
  font-family: "LemonMilkRegular";
  color: #0E0E0E;
  opacity: 0.7;
}

.HomePage .projectsDone .titleContainer2 hr {
  margin-left: 40px;
  width: 50%;
  height: 1px;
  background-color: #464646;
  border: none;
  opacity: 0.5;
}

.HomePage .projectsDone .buttonContainer {
  width: 85%;
  text-align: center;
  margin-top: 30px;
}

.HomePage .projectsDone .buttonContainer button {
  float: left;
  margin-left: 20px;
  height: 38px;
  width: auto;
  padding: 5px 20px;
  border-radius: 25px;
  border: none;
  background: #1D84C4;
  color: white;
  font-family: "GilroyRegular";
  border: 1px solid  white;
  -webkit-transition: 1s;
  transition: 1s;
}

.HomePage .projectsDone .buttonContainer button:nth-child(1) {
  margin: 0;
  background: #225A93;
}

.HomePage .projectsDone .buttonContainer button:nth-child(1):hover {
  border: 1px solid  #225A93;
  color: #225A93;
  background: #EEEE;
}

.HomePage .projectsDone .buttonContainer button:nth-child(1):focus {
  outline: none;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: crimson;
  color: white;
  border: 1px solid white;
}

.HomePage .projectsDone .buttonContainer button:hover {
  border: 1px solid  #1D84C4;
  background-color: #fff;
  color: #1D84C4;
  -webkit-transition: 1s;
  transition: 1s;
}

.HomePage .projectsDone .buttonContainer button:focus {
  outline: none;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: crimson;
  color: white;
  border: 1px solid white;
}

.HomePage .projectsDone .projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  width: 85%;
}

.HomePage .projectsDone .projects .card {
  width: 100%;
  height: 390px;
}

.HomePage .projectsDone .projects .card:nth-child(1) {
  background: url("../images/FruitAgro.png") bottom no-repeat;
  background-size: cover;
}

.HomePage .projectsDone .projects .card:nth-child(2) {
  background: url("../images/Saxa.png") bottom no-repeat;
  background-size: cover;
}

.HomePage .projectsDone .projects .card:nth-child(3) {
  background: url("../images/Building.png") bottom no-repeat;
  background-size: cover;
}

.HomePage .projectsDone .projects .card:nth-child(4) {
  background: url("../images/Aqua.png") bottom no-repeat;
  background-size: cover;
}

.HomePage .projectsDone .projects .card:nth-child(5) {
  background: url("../images/Safye.png") bottom no-repeat;
  background-size: cover;
}

.HomePage .projectsDone .projects .card:nth-child(6) {
  background: url("../images/Gravity.png") bottom no-repeat;
  background-size: cover;
}

.HomePage .projectsDone .hamisinaBax {
  width: 85%;
  height: 40px;
  margin-top: 50px;
}

.HomePage .projectsDone .hamisinaBax button {
  float: right;
  background-color: #fff;
  border: none;
}

.HomePage .projectsDone .hamisinaBax button:focus {
  outline: none;
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.HomePage .projectsDone .hamisinaBax p {
  float: right;
  font-family: "LemonMilkRegular";
  font-size: 30px;
  margin-right: 40px;
}

.HomePage .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 632px;
  background-color: #EEEE;
}

.HomePage .technologies .titleContainer3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 133px;
  width: 85%;
}

.HomePage .technologies .titleContainer3 p {
  font-size: 3rem;
  font-family: "LemonMilkRegular";
  color: #0E0E0E;
  opacity: 0.7;
}

.HomePage .technologies .titleContainer3 hr {
  margin-left: 40px;
  height: 1px;
  background-color: #464646;
  border: none;
  opacity: 0.5;
  width: 100px;
}

.HomePage .technologies .itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin-top: 60px;
}

.HomePage .technologies .itemContainer .item {
  width: 100%;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.HomePage .technologies .itemContainer .item .titleItem {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-align: center;
  height: 240px;
  font-family: "LemonMilkRegular";
  color: #000000;
  font-size: 20px;
}

.HomePage .technologies .itemContainer .item .titleItem hr {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border: none;
  height: 240px;
  width: 1px;
  background: #464646;
  margin-right: 15px;
}

.HomePage .technologies .itemContainer .item .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 240px;
}

.HomePage .technologies .itemContainer .item .imgContainer .imgAndText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 30px;
  margin-top: 25px;
  margin-left: 15px;
}

.HomePage .technologies .itemContainer .item .imgContainer .imgAndText:nth-child(1) {
  margin-top: 0;
}

.HomePage .technologies .itemContainer .item .imgContainer .imgAndText span {
  width: 150px;
  text-align: left;
  font-size: 17px;
  font-family: "GilroyMedium";
  margin-left: 15px;
  position: absolute;
  margin-left: 45px;
}

.HomePage .humansContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 600px;
  background-color: white;
}

.HomePage .humansContainer .text {
  width: 40%;
  font-size: 28px;
  margin-top: 100px;
}

.HomePage .humansContainer .text p {
  margin-top: 25px;
}

.HomePage .humansContainer .text p:nth-child(1) {
  margin: 0;
}

.HomePage .humansContainer .imgs {
  width: 40%;
}

.HomePage .humansContainer .imgs img {
  position: absolute;
  margin-top: -200px;
  margin-left: 100px;
}

.HomePage .humansContainer .imgs img:nth-child(2) {
  margin-left: 400px;
}

.HomePage .humansContainer .imgs img:nth-child(3) {
  margin: -50px 250px;
}

.HomePage .humansContainer .imgs img:nth-child(3) {
  margin: -50px 250px;
}

.HomePage .humansContainer .imgs img:nth-child(4) {
  margin-top: 100px;
}

.HomePage .humansContainer .imgs img:nth-child(5) {
  margin: 100px 400px;
}

.HomePage .bizimleEmekdahsliq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 600px;
  background: linear-gradient(84.1deg, #3D7AB8 11.55%, #225A93 91.67%);
  margin-top: 100px;
}

.HomePage .bizimleEmekdahsliq .titleContainer4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  width: 80%;
}

.HomePage .bizimleEmekdahsliq .titleContainer4 p {
  font-size: 2rem;
  font-family: "LemonMilkRegular";
  color: white;
  width: 80%;
}

.HomePage .bizimleEmekdahsliq .titleContainer4 hr {
  margin-left: 40px;
  height: 1px;
  background-color: white;
  border: none;
  opacity: 0.5;
}

.HomePage .bizimleEmekdahsliq .aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.HomePage .bizimleEmekdahsliq .aboutContainer .about1 p, .HomePage .bizimleEmekdahsliq .aboutContainer .about2 p, .HomePage .bizimleEmekdahsliq .aboutContainer .about3 p {
  font-size: 1.55rem;
  color: white;
  margin-top: 50px;
}

.HomePage .bizimleEmekdahsliq .aboutContainer .about1 img, .HomePage .bizimleEmekdahsliq .aboutContainer .about2 img, .HomePage .bizimleEmekdahsliq .aboutContainer .about3 img {
  margin-right: 15px;
}

.HomePage .bizimleEmekdahsliq .aboutContainer .about2, .HomePage .bizimleEmekdahsliq .aboutContainer .about3 {
  margin-left: 50px;
}

.HomePage .bizimleEmekdahsliq .aboutContainer .about2 {
  margin-left: -15px;
}

.HomePage .partniorsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.HomePage .partniorsContainer .titleContainer5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  width: 80%;
}

.HomePage .partniorsContainer .titleContainer5 p {
  font-size: 3rem;
  font-family: "LemonMilkRegular";
  color: black;
  width: 90%;
  opacity: 0.7;
}

.HomePage .partniorsContainer .titleContainer5 hr {
  margin-left: 40px;
  height: 1px;
  background-color: black;
  border: none;
  opacity: 0.5;
  width: 190%;
}

.HomePage .partniorsContainer .gridContainer2 {
  width: 80%;
  height: 700px;
  margin-top: 50px;
  background-color: red;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.HomePage .partniorsContainer .gridContainer2 div {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HomePage .partniorsContainer .gridContainer2 div img {
  width: 13rem;
  height: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.HomePage .partniorsContainer .gridContainer2 div img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 1750px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 1550px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 1390px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 1250px) {
  html {
    font-size: 60%;
  }
}
/*# sourceMappingURL=OneCssForWholeHtml.css.map */