@import url("./Fonts.css");
body {
  margin: 0;
  padding: 0;
  font-family: "Futurica";
}

body p {
  margin: 0;
}

.HomePage {
  height: 10000px;
}

.HomePage .topContainer {
  background: url("../images/overlayForNavbar.png");
  background-color: #225A93;
  width: 100%;
  padding-top: 38px;
  height: 1000px;
}

.HomePage .topContainer .navbar {
  background-size: cover;
  padding: 30px;
  padding-left: 55px;
  width: 90%;
  height: 45px;
}

.HomePage .topContainer .navbar .logoAndText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  float: left;
  background-color: none;
}

.HomePage .topContainer .navbar img {
  width: 193px;
  height: 36px;
}

.HomePage .topContainer .navbar .phoneNumber {
  font-size: 20px;
  word-spacing: 6px;
  color: lightgray;
  background-image: url("../images/overlayForNavbar.png");
  background-repeat: repeat;
  -webkit-background-clip: text;
}

.HomePage .topContainer .navbar p {
  margin-left: 100px;
  color: white;
  font-family: "LemonMilkRegular";
}

.HomePage .topContainer .navbar .menuIcon {
  width: 100px;
  height: 45px;
  float: right;
  margin-right: 6.4%;
  margin-top: -5px;
}

.HomePage .topContainer .navbar .menuIcon .topIcon {
  width: 100px;
  height: 6px;
  background: url("../images/overlayForNavbar.png");
  background-color: white;
}

.HomePage .topContainer .navbar .menuIcon .downIcon {
  width: 60px;
  height: 6px;
  margin-top: 20px;
  background: url("../images/overlayForNavbar.png");
  background-color: white;
}

.HomePage .topContainer .subNav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 198px;
  margin-left: 11%;
}

.HomePage .topContainer .subNav .title {
  font-size: 120px;
  font-family: "GilroySemibold";
  color: white;
  word-spacing: 30px;
}

.HomePage .topContainer .subNav .subTitle {
  margin-top: 29px;
  padding-left: 6.5px;
  font-size: 32px;
  line-height: 43px;
  color: white;
  width: 1200px;
  font-family: "GilroySemibold";
}

.HomePage .topContainer hr {
  position: absolute;
  width: 100%;
  height: 2px;
  border: none;
  top: 620px;
  background-image: url("../images/overlayForNavbar.png");
}

.HomePage .topContainer .subTitle2 {
  margin-top: 100px;
  width: 100%;
  height: 239px;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/overlayForNavbar.png");
}

.HomePage .topContainer .subTitle2 p {
  margin: 0;
  font-size: 28px;
  color: white;
  width: 1100px;
  margin-left: 11%;
  font-family: "GilroyRegular";
}

.HomePage .topContainer .subTitle2 img {
  margin-left: 20%;
}

.HomePage .whatDo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 798px;
  background-color: #E5E5E5;
}

.HomePage .whatDo .titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 133px;
  width: 70%;
}

.HomePage .whatDo .titleContainer p {
  font-size: 44px;
  font-family: "LemonMilkRegular";
  color: #0E0E0E;
  opacity: 0.7;
}

.HomePage .whatDo .titleContainer hr {
  margin-left: 40px;
  width: 550px;
  height: 1px;
  background-color: #464646;
  border: none;
  opacity: 0.5;
}

.HomePage .whatDo .cardConatiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3%;
  margin-top: 50px;
}

.HomePage .whatDo .cardConatiner .card {
  width: 426px;
  height: 368px;
  -webkit-transition: 1s;
  transition: 1s;
  border: 1px solid rgba(0, 0, 0, 0.03);
  padding-left: 40px;
  padding-top: 50px;
}

.HomePage .whatDo .cardConatiner .card:hover {
  -webkit-box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: 1s;
  transition: 1s;
}

.HomePage .whatDo .cardConatiner .card p {
  margin: 0;
}

.HomePage .whatDo .cardConatiner .card .title {
  font-family: "LemonMilkMedium";
  font-size: 22px;
  font-style: normal;
  opacity: 0.7;
}

.HomePage .whatDo .cardConatiner .card hr {
  width: 147px;
  height: 1px;
  background: #1D84C4;
  border: none;
  margin: 0;
  margin: 5px 0 20px 0;
  opacity: 0.3;
}

.HomePage .whatDo .cardConatiner .card .subTitle p {
  margin: 0;
  margin-top: 30px;
}

.HomePage .whatDo .cardConatiner .card .subTitle p:nth-child(1) {
  margin-top: 0;
}

.HomePage .whatDo .cardConatiner .card .subTitle p span {
  font-family: "GilroyMedium";
  color: #000000;
  opacity: 0.7;
}
/*# sourceMappingURL=OneCssForWholeHtml.css.map */